
<table>

  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @forums.each do |forum| %>
  <% user = User.where(:id => forum.user_id)[0] %>
  <tr>
    <td><%= link_to "#{forum.title}", forum %></td>
    <td><%= link_to User.find_by_id(forum.user_id).username, user_path(forum.user_id) %></td>
    <td><%= link_to 'Show', forum %></td>
    <td>
      <% if current_user?(user) %>
      <%= link_to 'Edit', edit_forum_path(forum) %>
      <% end %>
    </td>
    <td>
      <% if current_user?(user) %>
      <%= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<% if signed_in? %>
<%= link_to 'New Forum', new_forum_path %>
<% end %>
